/* -------------------------------------------------------------------------------- */
/* ! Fonts */
/* -------------------------------------------------------------------------------- */
@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/bebasneue.woff2") format("woff2"),
    url("./fonts/bebasneue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/poppins-regular.woff2") format("woff2"),
    url("./fonts/poppins-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* -------------------------------------------------------------------------------- */
/* ! Reset + Base Styling */
/* -------------------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4549b7;
  --secondary-color: #fcc312;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    45deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  z-index: -1;
}

body[data-gamemode="cpu-vs-cpu"]::before {
  background: rgb(182, 244, 146);
  background: linear-gradient(45deg, rgb(182, 244, 146), rgb(51, 139, 147));
}

img {
  max-width: 100%;
}

main {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  margin-block: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* -------------------------------------------------------------------------------- */
/* ! Components */
/* -------------------------------------------------------------------------------- */
/* Buttons */
.btn {
  font-family: inherit;
  font-weight: 400;
  background: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn:hover {
  transform: translateY(-5px);
}

.btn--outline {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

/* -------------------------------------------------------------------------------- */
/* ! Header */
/* -------------------------------------------------------------------------------- */
.header {
  padding: 20px;
  border: 1px solid #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 32px;
  line-height: 1;
}

.scores-container {
  display: flex;
  gap: 30px;
}

.score {
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  background-color: #fff;
}

.score__number {
  font-size: 32px;
}

@media screen and (max-width: 767px) {
  .header__inner {
    flex-direction: column;
    align-items: center;
  }

  .header__inner br {
    display: none;
  }

  .header__inner h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  .header__inner .score {
    padding: 10px;
  }

  .header__inner h3 {
    line-height: 1;
  }

  .hader__inner .score .score__number {
    font-size: 24px;
  }
}

/* -------------------------------------------------------------------------------- */
/* ! Game Mode */
/* -------------------------------------------------------------------------------- */
/* Choose Game Mode */
.game-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .game-mode {
    display: block;
    text-align: center;
  }

  .game-mode__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.game-mode h2 {
  font-size: 28px;
}

body[data-gamemode="cpu-vs-cpu"] [data-actualmode="human-vs-cpu"] {
  display: none;
}

body[data-gamemode="human-vs-cpu"] [data-actualmode="cpu-vs-cpu"] {
  display: none;
}

/* -------------------------------------------------------------------------------- */
/* ! Game Field */
/* -------------------------------------------------------------------------------- */

.game-field {
  margin-top: 70px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 900px;
  max-width: 100%;
  margin-inline: auto;
  animation: 1s revealFromBottom;
}

.cards__cta {
  grid-column: span 3;
  font-size: 42px;
  text-align: center;
}

.cards .card {
  position: relative;
  background-color: #fff;
  padding: 30px;
  aspect-ratio: 3 /4;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cards .card .card__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards .card img {
  width: 150px;
}

.cards .card h4 {
  font-size: 24px;
}

.cards.cards--result {
  align-items: center;
}

.cards.cards--result .result {
  opacity: 0;
  animation: revealFromTop 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.cards.cards--result .card {
  animation: revealFromBottom 1s;
  animation-fill-mode: forwards;
  cursor: auto;
}

.start-cpu-game {
  text-align: center;
  animation: revealFromBottom 1s;
  animation-fill-mode: forwards;
}

.start-cpu-game h3 {
  font-size: 42px;
}

.start-cpu-game button {
  margin-top: 20px;
}

@keyframes revealFromBottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes revealFromTop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* -------------------------------------------------------------------------------- */
/* ! Results */
/* -------------------------------------------------------------------------------- */

.cards.cards--result .result {
  text-align: center;
}

.cards--result .btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.match-winner {
  font-size: 32px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .cards .cards__cta {
    grid-column: span 4;
  }

  .cards > * {
    grid-column: span 2;
  }
  .cards .card:last-child {
    grid-column: 2/4;
  }

  .cards--result .result {
    grid-row: 2;
    grid-column: span 4;
  }

  .cards--result .card:nth-child(2) {
    grid-column: span 2;
  }

  .cards--result .card:last-child {
    grid-column: span 2;
  }
}

/* -------------------------------------------------------------------------------- */
/* ! Conditions */
/* -------------------------------------------------------------------------------- */
/* Data Active */
[data-active="false"] {
  display: none;
}
